<!DOCTYPE html>
<html lang="ja-JP">

<head>
    <title>NASB1995</title>
    <meta charset="UTF-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="${_csrf.headerName}" name="_csrf_header">
    <meta content="${_csrf.token}" name="_csrf_token">
    <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="/static/css/index.css" rel="stylesheet" type="text/css">
    <link href="/static/css/customize.css" rel="stylesheet" type="text/css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" rel="stylesheet">
    <link href="/static/favicon.ico" rel="shortcut icon" type="image/x-icon">
    <link href="https://fonts.googleapis.com" rel="preconnect">
    <link crossorigin href="https://fonts.gstatic.com" rel="preconnect">
    <link
        href="https://fonts.googleapis.com/css2?family=Niconne&family=Noto+Sans+JP:wght@100..900&family=Noto+Serif+JP:wght@200..900&display=swap"
        rel="stylesheet">
    <style>
        #indexTablehead,
        #randomSearchBtn,
        #tableBody,
        #hintDiv {
            font-family: "Noto Serif JP", serif;
            font-weight: 600;
        }

        a.effect-shine {
            font-family: "Niconne", serif;
        }
    </style>
    <script src="/static/jquery/jquery-3.7.1.min.js" type="text/javascript"></script>
    <script src="/static/bootstrap/js/bootstrap.bundle.min.js" type="text/javascript"></script>
    <script src="/static/layer/layer.js" type="text/javascript"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11" type="text/javascript"></script>
</head>

<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary fixed-top" data-bs-theme="dark">
        <div class="container-fluid">
            <div class="d-flex justify-content-start">
                <img alt="img01" height="60" src="/static/image/cross.svg" width="60">
                <a class="navbar-brand effect-shine" href="/home/index" style="font-size: 33px;">
                    NASB1995
                </a>
            </div>
            <div class="d-flex justify-content-end">
                <a class="btn btn-primary me-2" href="/category/login" style="font-weight: 600;" type="button">
                    <i class="fa-solid fa-right-to-bracket"></i> ログイン
                </a>
            </div>
        </div>
    </nav>
    <input id="torokuMsgContainer" type="hidden" value="{{.torokuMsg}}">
    <div class="col-sm-6 offset-sm-3 col-md-8 offset-md-2 main">
        <div class="card border-darkgreen" style="margin-top: 4.5rem;">
            <div class="card-header text-bg-darkgreen mb-3">
                <h5 class="card-title" style="padding-top: 8px;font-weight: 500;">
                    <i class="fa-solid fa-cross"></i> 賛美歌選択
                </h5>
            </div>
            <div class="card-body">
                <div class="row">
                    <form class="form-inline col-md-6 offset-md-3" role="form" style="padding-right: 0;">
                        <div class="input-group col-md-6">
                            <input class="form-control" id="keywordInput" placeholder="キーワードを入力してください" type="text">
                            <button class="btn btn-danger my-2 my-sm-0" id="randomSearchBtn" type="button">
                                <i class="fa-solid fa-magnifying-glass"></i> ランドム選択
                            </button>
                        </div>
                    </form>
                    <div class="col-md-3" style="padding-left: 0;">
                        <button class="btn btn-primary me-2" id="toIchiranHyoBtn" type="button">
                            <i class="fa-solid fa-circle-info"></i>
                        </button>
                    </div>
                </div>
                <div class="background" id="loadingBackground" style="display: none;">
                    <div class="circle" id="loadingContainer" style="display: none;">
                        <div class="large">
                            <div class="medium">
                                <div class="small">
                                    <div class="core"></div>
                                </div>
                            </div>
                        </div>
                        <h1>LOADING</h1>
                    </div>
                </div>
                <table class="table table-sm table-hover" id="indexTable">
                    <thead id="indexTablehead">
                        <tr class="table-success">
                            <th class="text-center" scope="col">名称</th>
                        </tr>
                    </thead>
                    <tbody class="table-group-divider" id="tableBody">
                        <tr>
                            <td>1</td>
                        </tr>
                        <tr>
                            <td>2</td>
                        </tr>
                        <tr>
                            <td>3</td>
                        </tr>
                        <tr>
                            <td>4</td>
                        </tr>
                        <tr>
                            <td>5</td>
                        </tr>
                    </tbody>
                </table>
                <p class="d-flex justify-content-end" style="font-size: 10px;color: #353542;">
                    賛美歌{{.totalRecords}}曲レコード済み
                </p>
            </div>
        </div>
        <div class="row" id="hintDiv">
            <p style="font-size: 11px;color: #FFF;">
                ※赤色：アキュレイトクエリの結果、黄色：ファジークエリの結果。五つに満たされなかった場合にシステムが補充されます。</p>
        </div>
    </div>
    <script src="/static/customizes/index.js" type="text/javascript"></script>
</body>

</html>