<!DOCTYPE html>
<html lang="ja-JP">

<head>
    <title>NASB1995</title>
    <meta charset="UTF-8" />
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="${_csrf.headerName}" name="_csrf_header">
    <meta content="${_csrf.token}" name="_csrf_token">
    <link href="/static/css/login.css" rel="stylesheet" type="text/css">
    <link href="/static/favicon.ico" rel="shortcut icon" type="image/x-icon">
    <link href="https://fonts.googleapis.com" rel="preconnect">
    <link crossorigin href="https://fonts.gstatic.com" rel="preconnect">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap" rel="stylesheet">
    <style type="text/css">
        input[type=password]::-ms-reveal {
            display: none;
        }

        input[type=password]::-ms-clear {
            display: none;
        }

        input[type=password]::-o-clear {
            display: none;
        }

        .input-box #eyeIcons {
            position: absolute;
            cursor: pointer;
            color: #000;
            top: 150px;
            right: 15px;
            font-size: 1.2em;
        }
    </style>
    <script src="/static/jquery/jquery-3.7.1.min.js" type="text/javascript"></script>
    <script src="/static/layer/layer.js" type="text/javascript"></script>
</head>

<body>
    <div class="container">
        <input id="errorMsgContainer" type="hidden" value="{{.errorMsg}}">
        <div class="login-box" id="loginBox">
            <h2 class="login-title">
                <span>すでにアカウント持ち？</span>ログイン
            </h2>
            <form action="/category/do-login" class="input-box" id="loginForm" method="post">
                {{if ne .registeredEmail nil}}
                <input id="accountIpt" name="loginAcct" placeholder="アカウント" type="text" value="{{.registeredEmail}}">
                {{else}}
                <input id="accountIpt" name="loginAcct" placeholder="アカウント" type="text">
                {{end}}
                <ion-icon id="eyeIcons" name="eye-outline"></ion-icon>
                <input id="passwordIpt" name="password" placeholder="パスワード" type="password">
            </form>
            <button id="loginBtn" type="button">ログイン</button>
        </div>
        <div class="toroku-box slide-up" id="torokuBox">
            <div class="center">
                <h2 class="toroku-title">
                    <span>アカウント無し？</span>登録
                </h2>
                <form action="/category/toroku" class="input-box" id="torokuForm" method="post">
                    <input id="emailIpt" name="email" placeholder="メール" type="email">
                    <input id="passwordIpt1" name="password" placeholder="パスワード" type="password">
                    <input id="passwordIpt2" placeholder="パス再入力" type="password">
                </form>
                <button id="torokuBtn" type="button">登録</button>
            </div>
        </div>
        <script src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js" type="module"></script>
        <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    </div>
    <script src="/static/customizes/logintoroku.js" type="text/javascript"></script>
</body>

</html>